.title {
  font-size: 4.5rem;
  text-wrap: balance;
  text-align: center;
  margin: 60px 0;
}

.subtitle {
  font-size: 1.25rem;
  text-align: center;
  text-wrap: balance;
}

@media screen and (max-width: 1024px) { 

  .title {
    font-size: 2rem;

  }
  .subtitle {
    font-size: 1rem;
  }
}