.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.emoji {
    animation: emojiAnimation 5000ms ease-in-out infinite;
}


.text{
    font-size: 1.5rem;
    text-align: center;
    color: #f97316;
    font-weight: 700;
}



@keyframes emojiAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}