.modal {

    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.modalContainer {
    width: 100%; 
    height: 100%;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContainer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #1f2937;
    padding: 20px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    
}


.closedButton {
    position: absolute;
    top: 40px;
    right: 40px;
    outline: none;
}


.creationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 1rem;
    background-color: #f97316;
    padding: 20px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 20px;
    width: 100%;
}

.changeImageButton{
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 1rem;
    background-color: rgba(107, 114, 128, 0.2);
    padding: 20px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 20px;
    width: 100%;

}